# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Otros ignore
.idea/
manto/.idea/
manto/cmake-build-debug/
manto/cmake-build-debug-coverage/
.gitignore.swp
.DS_Store
Instance/
images/
.vscode/